@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.header-logo-link {
  position: relative;
  display: block;
  height: 64px;
  outline: none;
}

.main-container,
.main-inner {
  flex-grow: 1;
}

/* Ссылки в навигации */

.navigation:last-child {
  margin-left: auto;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation-user {
  width: 268px;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-user .navigation-item:nth-child(2) {
  position: relative;
}

.favorite-number {
  position: absolute;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  top: 10px;
  left: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-user .button {
  margin: 14px 0 14px 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  color: #000;
  padding: 20px 16px;
  display: block;
  outline: none;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item {
  position: relative;
}

.navigation-link:not(.navigation-user .navigation-link):hover::after {
  content: "";
  border-bottom: 2px solid #756257;
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
}

.logo {
  display: block;
  margin: 0 auto;
  height: 485px;
}

/* Кнопки */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #756157;
  text-decoration: none;
  border: none;
  padding: 8px 34px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  outline: none;
}

.btn-big {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

.subscribe .button {
  border-radius: 0 4px 4px 0;
}

.button:hover,
.button:focus-visible {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background: #e5e5e5;
}

.additional-button {
  background-color: #82b3d3;
}

.additional-button:hover,
.additional-button:focus {
  background-color: #68a2ca;
}

.selected-button {
  background-color: #7db54f;
}

.selected-button:hover,
.selected-button:focus {
  background-color: #6c9e42;
}

/* Welcome секция */

.welcome {
  color: #fff;
  background-color: #000;
  background-image: url("../images/decorative/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Заголовки */

.text-align-center {
  text-align: center;
}

.header-2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  margin: 0;
  padding-bottom: 20px;
}

.header-3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
}

.main-background-color .header-3,
.main-background-color .text {
  color: #fff;
}

.advantages-item .header-3,
.comfort-item .header-3 {
  padding-bottom: 30px;
  margin: 0;
}

.advantages-item .header-3::after {
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  display: block;
}

.advantages-item:nth-child(3) .header-3::after,
.advantages-item:nth-child(4) .header-3::after,
.advantages-item:nth-child(5) .header-3::after {
  background: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-item .text,
.comfort-item .text {
  margin: 0;
}

/* Текст после заголовков */

.slogan-text {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  margin: 0;
  white-space: pre-line;
}

.text {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  white-space: pre-line;
}

.text-color {
  color: #fff;
}

/* Фоны */

.additional-background-color-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.additional-background-color-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.additional-background-color-3 {
  background-color: #f2f2f2;
}

.main-background-color {
  background-color: #82b3d3;
}

/* Преимущества */

.advantages-header {
  width: 651px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 69px;
}

.advantages-list,
.comfort-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item.additionail-padding-top-bottom {
  padding-top: 112px;
  padding-bottom: 112px;
}

.advantages-item,
.comfort-item {
  padding: 102px 85px;
  box-sizing: border-box;
  width: 400px;
  height: 385px;
}

.advantages-item:nth-child(2) {
  width: 800px;
  padding: 0;
}

.advantages-item:nth-child(6) {
  width: 800px;
  padding: 0;
}

.advantages-image {
  display: block;
}

/* Блок Комфорт */

.comfort-header {
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.comfort-item.additional-padding-top-bottom {
  padding-top: 81px;
  padding-bottom: 81px;
}

.comfort-item:nth-child(1) {
  background-image: url("../images/icons/house-icon.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.comfort-item:nth-child(2) {
  background-image: url("../images/icons/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.comfort-item:nth-child(3) {
  background-image: url("../images/icons/present-icon.svg");
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.comfort-item .header-3 {
  padding-top: 102px;
}

/* Блок Заинтересовались */

.find {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.find > .slogan-text,
.subscribe-text {
  padding-bottom: 54px;
}

/* Блок подписки на основной странице*/

.subscribe-container {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-theme-custom .header-2 {
  color: #fff;
}

.subscribe-theme-custom .slogan-text {
  color: #fff;
}

.subscribe-theme-custom {
  background-color: #8daab8;
  background-image: url("../images/decorative/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form {
  display: flex;
}

.subscribe-email {
  width: 452px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  border: none;
  outline: none;
}

.subscribe-email:not(.subscribe-theme-custom) {
  background: #f2f2f2;
}

.subscribe-email::placeholder {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  font-family: "PT Sans";
}

/* Подвал */

.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 30px;
  align-items: center;
}

.social-icon-list {
  width: 142px;
}

.contacts {
  margin: 0 auto;
  width: 1200px;
}

.contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.contacts-item {
  min-width: 47px;
  min-height: 40px;
  position: relative;
}

.contacts-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.contacts-link:hover .contacts-icon path,
.contacts-link:focus .contacts-icon path {
  fill: #68a2ca;
}

.contacts-link:active .contacts-icon path {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  text-align: center;
  width: 720px;
  margin-left: auto;
}

.owner-link {
  width: 115px;
  margin-left: auto;
}

.contacts-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-style: normal;
}

.contacts-phone-number:hover,
.contacts-phone-number:focus {
  color: #756157;
  outline: none;
}

.contacts-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.owner-link:focus-visible {
  outline: none;
}

.owner-link:hover .logo-academy path,
.owner-link:focus .logo-academy path {
  fill: #756157;
}

.owner-link:active .logo-academy path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Страница каталога */

/* Заголовки */

.header-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

/* Фоны */

.search {
  color: #fff;
  background-color: #8daab8;
  background-image: url("../images/decorative/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Хлебные крошки */

.breadcrumbs-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 20px;
  position: relative;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 5px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 15px;
  position: absolute;
  bottom: 8px;
  right: -20px;
}

.breadcrumbs-link {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  display: block;
  position: relative;
  outline: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.mini-house {
  padding-top: 3px;
}

/* Форма поиска */

.search-item {
  border: none;
}

.search-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
}

.search-label {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

/* Кнопки */

.search-reset {
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
}

.search-reset:hover {
  background-color: transparent;
  opacity: 0.6;
}

.search-reset:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.search-reset:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

/* Фильтрация на странице каталога */

.search-container {
  margin: 0 auto;
  width: 1060px;
  padding-top: 35px;
  padding-bottom: 70px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.catalog-header {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
  align-items: center;
}

.filter-group {
  margin-left: auto;
  width: 522px;
  display: flex;
  line-height: 20px;
}

.catalog .header-2 {
  text-align: left;
  margin: 0;
  padding: 0;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.filter {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  width: 292px;
  height: 49px;
  margin: 0;
  padding: 14px 99px 14px 20px;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/icons/arrrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.filter:hover,
.filter:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.filter:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.view {
  width: 160px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
}

.view-item:not(:last-child) {
  margin-right: 8px;
}

.view-button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  border-radius: 4px;
}

.view-button:hover {
  border: 2px solid #000000;
}

.view-button:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.view-button:active {
  border: 2px solid #000000;
}

.view-button-active {
  border: 2px solid #000000;
}

.view-item:nth-child(1) .view-button {
  background-image: url("../images/icons/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-item:nth-child(2) .view-button {
  background-image: url("../images/icons/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-item:nth-child(3) .view-button {
  background-image: url("../images/icons/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Результат поиска на странице каталога */

.results-list {
  padding: 0;
  width: 1060px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0 auto;
}

.results-list-wrapper::after {
  margin: 40px auto 0;
  width: 1060px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
  display: block;
}

.results-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  padding: 19px;
  border: 1px solid #e6e6e6;
  grid-template-areas:
    "image image"
    "header header"
    "type price"
    "more favorite"
    "stars rating";
}

.image {
  grid-area: image;
}

.title {
  grid-area: header;
}

.type {
  grid-area: type;
}

.price {
  grid-area: price;
  text-align: right;
}

.more {
  grid-area: more;
  align-self: center;
}

.favorite {
  grid-area: favorite;
  align-self: center;
}

.more,
.favorite,
.rating {
  padding: 0;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.stars {
  grid-area: stars;
  align-self: center;
}

.rating {
  grid-area: rating;
  text-align: center;
}

.results-image {
  object-fit: contain;
}

.results-link {
  text-decoration: none;
}

.results-link .header-3 {
  text-align: left;
  text-transform: inherit;
  margin: 0;
}

.results-info {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.results-rating {
  color: #333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.star path {
  fill: transparent;
}

.star.filled path {
  fill: #83b3d3;
}

/* Пагинация */

.divider {
  width: 1060px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 40px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: 70px;
  list-style-type: none;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.page {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 13px;
  text-align: center;
  border-radius: 4px;
  outline: none;
}

.active {
  color: #000;
}

.page:not(.active):hover,
.page:not(.active):focus {
  background: #68a2ca;
}

.page:not(.active):active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.dots {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 13px;
  text-align: center;
  display: block;
}
