@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Ссылки в навигации */

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  color: #000;
}

/* Кнопки */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: #756157;
  text-decoration: none;
  border: none;
}

.additional-button {
  background-color: #82b3d3;
}

.selected-button {
  background-color: #7db54f;
}

/* Welcome секция */

.welcome {
  color: #fff;
  background-color: #000;
  background-image: url("../images/decorative/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* Заголовки */

.header-2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #000;
}

.header-3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.header-3-color {
  color: #fff;
}

/* Текст после заголовков */

.slogan-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333;
}

.text-color {
  color: #fff;
}

/* Фоны */

.additional-background-color-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.additional-background-color-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.additional-background-color-3 {
  background-color: #f2f2f2;
}

.main-background-color {
  background-color: #82b3d3;
}

/* Блок подписки на основной странице*/

.subscribe-theme-custom .header-2 {
  color: #fff;
}

.subscribe-theme-custom .slogan-text {
  color: #fff;
}

.subscribe-theme-custom {
  background-color: #8daab8;
  background-image: url("../images/decorative/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Подвал */

.contacts-phone {
  text-align: center;
}

.contacts-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

/* Страница каталога */

/* Заголовки */

.header-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}

/* Фоны */

.search {
  color: #fff;
  background-color: #8daab8;
  background-image: url("../images/decorative/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Хлебные крошки */

.breadcrumbs-link {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

/* Форма поиска */

.search-item {
  border: none;
}

.search-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
}

.search-label {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

/* Кнопки */

.search-reset {
  background-color: transparent;
}

/* Фильтрация на странице каталога */

.catalog .header-2 {
  text-align: left;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.filter {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

/* Результат поиска на странице каталога */

.results-link {
  text-decoration: none;
}

.results-link .header-3 {
  text-align: left;
  text-transform: inherit;
}

.results-info {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.results-rating {
  color: #333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Пагинация */

.page {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.active {
  color: #000;
}
